.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}


.app-Header{
  height: 60px;
}


.page-container{
  display: flex;
  flex: 1;
  overflow-y: auto;

}

.appFooter{
  height: 60px;
  background-color: blue;

}

.link-container{
  font-size: 5em;
  background-color: black;
  color: white;
  width: 8em;
  height: 4em;
  line-height: 2;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  position: relative;


}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
