.storeName-btn{
  height: 50px;
  width: 50%;
  background-color: blue;
}
.Cart-btn{

}
.Home-btn{

}
.btn2{
  
}
.btn3{
  
}
.btn4{
  
}
.btn5{
  
}
.Link-container{
  
}
.RecommendProduct-btn{
  
}
.item1{
  
}
.item2{
  
}
.item3{
  
}
.item4{
  
}
.item5{
  
}
.item6{
  
}
.FAQ-btn{
  
}
.Help-btn{
  
}
.About-btn{
  
}



