.topPage-section{
  width: 600%;
  height: 60px;
  background-color: blue;

}

.storename-btn{
  width: 60%;
  height: 70px;
  
 
  

}

.cart-btn{
  width: 60%;
  height: 75px;
  


}

.menubar-btn{
  width: 100%;
  height: 60px;
  

}

.main-container{

}

.products-section{

}



